{% ckan_extends %} {% block footer_content %}
<div class="row">
  <div class="col-md-8 footer-links">
    {% block footer_nav %}
    <div class="row">
      <div class="col-sm-6 address">
        <p>
          <a href="/pages/about">
            <img
              class="footer-logo"
              src="/images/iaea-logo-blue.svg"
              alt="International Atomic Energy Agency (IAEA)"
          /></a>
        </p>
        <h4>International Atomic Energy Agency</h4>
        <p>
          Vienna International Centre, PO Box 100, A-1400 Vienna,
          <br />Austria <br />Telephone: <a href="">+43 (1) 26000-0</a>
          <br />Facsimile: <a href="">+43 (1) 26000-7</a> <br />Email:
          <a href="https://www.iaea.org/contact/official-mail">Official Mail</a>
        </p>
      </div>
    </div>
    {% endblock %}
  </div>
  <div class="col-sm-6 col-md-2 col-lg-2">
    <h5 class="h4">Shortcuts</h5>
    <ul class="nav flex-column social-links">
      <li class="nav-item">
        <a
          class="nav-link"
          title="Facebook"
          href="https://www.iaea.org/about/privacy-policy"
          >Privacy Policy</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          title="Facebook"
          href="https://nucleus.iaea.org/Pages/Others/Disclaimer.aspx"
          >Terms of Use</a
        >
      </li>
    </ul>
  </div>
  <div class="col-sm-6 col-md-2 col-lg-2">
    <h5 class="h4">Stay connected</h5>
    <ul class="nav flex-column social-links">
      <li class="nav-item">
        <a
          itemprop="sameAs"
          class="nav-link"
          title="X"
          href="https://x.com/iaeaorg"
          target="_blank"
          rel="noopener noreferrer"
          ><svg
            class="me-1"
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
          >
            <title>logo-x</title>
            <g fill="currentColor">
              <path
                fill="currentColor"
                d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
              ></path>
            </g></svg
          >/ iaeaorg</a
        >
      </li>
      <li class="nav-item">
        <a
          itemprop="sameAs"
          class="nav-link"
          title="LinkedIn"
          href="https://www.linkedin.com/company/iaea"
          target="_blank"
          rel="noopener noreferrer"
          ><svg
            class="me-1"
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 32 32"
          >
            <title>logo-linkedin</title>
            <g fill="currentColor">
              <path
                d="M29,1H3A2,2,0,0,0,1,3V29a2,2,0,0,0,2,2H29a2,2,0,0,0,2-2V3A2,2,0,0,0,29,1ZM9.887,26.594H5.374V12.25H9.887ZM7.63,10.281a2.625,2.625,0,1,1,2.633-2.625A2.624,2.624,0,0,1,7.63,10.281ZM26.621,26.594H22.2V19.656c0-1.687,0-3.75-2.35-3.75s-2.633,1.782-2.633,3.656v7.126H12.8V12.25h4.136v1.969h.094a4.7,4.7,0,0,1,4.231-2.344c4.513,0,5.359,3,5.359,6.844Z"
                fill="currentColor"
              ></path>
            </g></svg
          >/ iaea</a
        >
      </li>
      <li class="nav-item">
        <a
          itemprop="sameAs"
          class="nav-link"
          title="Twitter"
          href="https://www.facebook.com/iaeaorg"
          target="_blank"
          rel="noopener noreferrer"
          ><svg
            class="me-1"
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 32 32"
          >
            <title>logo-fb-simple</title>
            <g fill="currentColor">
              <path
                fill="currentColor"
                d="M12.46218,31V18H8v-6h4.46218V7.80998C12.46218,3.24577,15.35166,1,19.42325,1 c1.95033,0,3.62655,0.1452,4.11504,0.21011v4.76987l-2.82387,0.00128C18.50007,5.98127,18,7.0335,18,8.57757V12h6l-2,6h-4v13 H12.46218z"
              ></path>
            </g></svg
          >/ iaeaorg</a
        >
      </li>
    </ul>
  </div>
  <div class="col-md-4 attribution">
    {% block footer_attribution %}
    <p>
      {% trans %}<strong>Powered by</strong>
      <a href="http://ckan.org">CKAN</a>{% endtrans %}
    </p>
    {% endblock %} {% block footer_lang %} {% snippet
    "snippets/language_selector.html" %} {% endblock %}
  </div>
</div>
{% endblock %}
