{% ckan_extends %}

{% block footer_nav %}
  <div class="row">
    <div class="col-sm-6">
      <p><a href="/pages/about">About IAEA Data Platform</a></p>
      <h4>International Atomic Energy Agency</h4>
      <p>Vienna International Centre, PO Box 100
        <br>A-1400 Vienna, Austria
        <br>Telephone: +43 (1) 2600-0, Facsimile +43 (1) 2600-7</p>
      <p>
        <i class="fa fa-fw fa-envelope"></i>
        <a href="https://www.iaea.org/contact/official-mail">Official Email</a>
      </p>
    </div>
  </div>
{% endblock %}