{% ckan_extends %}

{% block footer_content %}
<div class="row">
  <div class="col-md-8 footer-links">
    {% block footer_nav %}
    <div class="row">
      <div class="col-sm-6 address">
        <p><a href="/pages/about">
            <img class="footer-logo" src="https://iaea-demo.phoenixdesignaid.com/images/iaea-logo-blue.svg"
              alt="International Atomic Energy Agency (IAEA)"></a></p>
        <h4>International Atomic Energy Agency</h4>
        <p>Vienna International Centre, PO Box 100, A-1400 Vienna,
          <br>Austria
          <br>Telephone: <a href="">(+431) 2600-0</a>
          <br>Facsimile: <a href="">(+431) 2600-7</a>
          <br>Email: <a href="https://www.iaea.org/contact/official-mail">Official Mail</a>
        </p>
      </div>
    </div>
    {% endblock %}
  </div>
  <div class="col-sm-6 col-md-2 col-lg-2">
    <h5 class="h4">Stay connected</h5>
    <ul class="nav flex-column social-links">
      <li class="nav-item"><a itemprop="sameAs" class="nav-link" title="Facebook" href="https://twitter.com/iaeaorg"
          target="_blank" rel="noopener noreferrer"><svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="18"
            height="18" viewBox="0 0 32 32">
            <title>logo-twitter</title>
            <g fill="currentColor">
              <path fill="currentColor"
                d="M32,6.1c-1.2,0.5-2.4,0.9-3.8,1c1.4-0.8,2.4-2.1,2.9-3.6c-1.3,0.8-2.7,1.3-4.2,1.6C25.7,3.8,24,3,22.2,3 c-3.6,0-6.6,2.9-6.6,6.6c0,0.5,0.1,1,0.2,1.5C10.3,10.8,5.5,8.2,2.2,4.2c-0.6,1-0.9,2.1-0.9,3.3c0,2.3,1.2,4.3,2.9,5.5 c-1.1,0-2.1-0.3-3-0.8c0,0,0,0.1,0,0.1c0,3.2,2.3,5.8,5.3,6.4c-0.6,0.1-1.1,0.2-1.7,0.2c-0.4,0-0.8,0-1.2-0.1 c0.8,2.6,3.3,4.5,6.1,4.6c-2.2,1.8-5.1,2.8-8.2,2.8c-0.5,0-1.1,0-1.6-0.1C2.9,27.9,6.4,29,10.1,29c12.1,0,18.7-10,18.7-18.7 c0-0.3,0-0.6,0-0.8C30,8.5,31.1,7.4,32,6.1z">
              </path>
            </g>
          </svg>/ iaeaorg</a></li>
      <li class="nav-item"><a itemprop="sameAs" class="nav-link" title="LinkedIn"
          href="https://www.linkedin.com/company/iaea" target="_blank" rel="noopener noreferrer"><svg class="me-1"
            xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
            <title>logo-linkedin</title>
            <g fill="currentColor">
              <path
                d="M29,1H3A2,2,0,0,0,1,3V29a2,2,0,0,0,2,2H29a2,2,0,0,0,2-2V3A2,2,0,0,0,29,1ZM9.887,26.594H5.374V12.25H9.887ZM7.63,10.281a2.625,2.625,0,1,1,2.633-2.625A2.624,2.624,0,0,1,7.63,10.281ZM26.621,26.594H22.2V19.656c0-1.687,0-3.75-2.35-3.75s-2.633,1.782-2.633,3.656v7.126H12.8V12.25h4.136v1.969h.094a4.7,4.7,0,0,1,4.231-2.344c4.513,0,5.359,3,5.359,6.844Z"
                fill="currentColor"></path>
            </g>
          </svg>/ iaea</a></li>
      <li class="nav-item"><a itemprop="sameAs" class="nav-link" title="Twitter"
          href="https://www.facebook.com/iaeaorg" target="_blank" rel="noopener noreferrer"><svg class="me-1"
            xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
            <title>logo-fb-simple</title>
            <g fill="currentColor">
              <path fill="currentColor"
                d="M12.46218,31V18H8v-6h4.46218V7.80998C12.46218,3.24577,15.35166,1,19.42325,1 c1.95033,0,3.62655,0.1452,4.11504,0.21011v4.76987l-2.82387,0.00128C18.50007,5.98127,18,7.0335,18,8.57757V12h6l-2,6h-4v13 H12.46218z">
              </path>
            </g>
          </svg>/ iaeaorg</a></li>
    </ul>
  </div>
  <div class="col-md-4 attribution">
    {% block footer_attribution %}
    <p>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{%
      endtrans %}</p>
    {% endblock %}
    {% block footer_lang %}
    {% snippet "snippets/language_selector.html" %}
    {% endblock %}
  </div>
</div>
{% endblock %}