{% ckan_extends %}

{% block header_logo %}
  {% if g.site_logo %}
    <a class="logo" href="{{ h.url_for('home.index') }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}"/>
      {% if g.site_description %}
        {{ _(g.site_description) }}
      {% endif %}
    </a>
  {% else %}
    <h1>
      <a href="{{ h.url_for('home.index') }}">{{ g.site_title }}</a>
    </h1>
  {% endif %}
{% endblock %}

{% block header_site_navigation %}
      <nav class="section navigation">
        <ul class="nav nav-pills">
          {% block header_site_navigation_tabs %} {{ h.build_nav_main( ('search', _('Datasets')),
          ('group_index', _('Groups')), ('home.about', _('About')) ) }} {% endblock %}
        </ul>
      </nav>
{% endblock %}