{% extends "package/resource_read.html" %}

{%- set exclude_fields = [
  'name',
  'description',
  'url',
  'format',
  ] -%}
{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}

{% block resource_additional_information_inner %}
  {#- Suppress the Data Dictionary section. The block must be redefined EMPTY here
      rather than deleted: this template is the child-most in the resource_read
      chain (iaea -> datastore -> xloader -> iaea -> validation -> core), so an
      empty definition wins, but removing it entirely would let datastore's
      definition -- which renders the dictionary snippet and never calls super()
      -- take over again. The dictionary stays editable at /dictionary. -#}
  {% block resource_data_dictionary %}{% endblock %}

  <div class="module-content">
    {%- block additional_info_heading -%}<h2>{{ _('Additional Information') }}</h2>{%- endblock -%}
    <table class="table table-striped table-bordered table-condensed">
      {%- block additional_info_table_head -%}
        <thead>
          <tr>
            <th scope="col">{{ _('Field') }}</th>
            <th scope="col">{{ _('Value') }}</th>
          </tr>
        </thead>
      {%- endblock -%}
      <tbody>
        {%- block resource_last_updated -%}
        <tr>
          <th scope="row">{{ _('Data last updated') }}</th>
          <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.created) or _('unknown') }}</td>
        </tr>
        {%- endblock -%}
        {%- block resource_metadata_last_updated -%}
        <tr>
          <th scope="row">{{ _('Metadata last updated') }}</th>
          <td>{{ h.render_datetime(res.metadata_modified) or h.render_datetime(res.created) or _('unknown') }}</td>
        </tr>
        {%- endblock -%}
        {%- block resource_created -%}
        <tr>
          <th scope="row">{{ _('Created') }}</th>
          <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
        </tr>
        {%- endblock -%}
        {%- block resource_format -%}
        <tr>
          <th scope="row">{{ _('Format') }}</th>
          <td>{{ res.format or res.mimetype_inner or res.mimetype or _('unknown') }}</td>
        </tr>
        {%- endblock -%}
        {%- block resource_license -%}
        <tr>
          <th scope="row">{{ _('License') }}</th>
          <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
        </tr>
        {%- endblock -%}
        {%- block resource_fields -%}
          {%- for field in schema.resource_fields -%}
            {%- if field.field_name not in exclude_fields
                and field.display_snippet is not none -%}
              <tr>
                <th scope="row">
                  {{- h.scheming_language_text(field.label) -}}
                </th>
                <td>
                  {%- snippet 'scheming/snippets/display_field.html',
                      field=field, data=res, entity_type='dataset',
                      object_type=dataset_type -%}
                </td>
              </tr>
            {%- endif -%}
          {%- endfor -%}
        {%- endblock -%}
        {%- block resource_more_items -%}
          {#- Whitelist only these raw resource-dict fields, relabel them, and
              render as plain rows (no toggle-more) so no "Show more" button appears. -#}
          {%- set item_labels = {
            'package id': _('Package id'),
            'id': _('Resource id'),
            'resource id': _('Resource id'),
            'size': _('Size'),
          } -%}
          {% for key, value in h.format_resource_items(res.items()) %}
            {% if key in item_labels %}
              <tr><th scope="row">{{ item_labels[key] }}</th><td>{{ value }}</td></tr>
            {% endif %}
          {% endfor %}
        {%- endblock -%}
      </tbody>
    </table>


  </div>
{% endblock %}
