{% set intro = g.site_intro_text %}
{% set tags = h.get_facet_items_dict('tags', limit=3) %}

<div role="main" class="hero">
  <div class="container">
    <div class="overlay">
    </div>
    <div class="row row1">
      <div class="col-md-8">
        <div class="hero-content">
          {% if intro %}
          {{ h.render_markdown(intro) }}
          {% else %}
          <h1 class="title">{{ _("IAEA Data Platform") }}</h1>
          <p class="summary">
            {% trans %} The IAEA Data Platform provides access to data resources maintained or shared by the IAEA.
            Access to certain datasets may require registration.{% endtrans %}
          </p>
          {% endif %}
          <div class="main-search">
            <form class="section site-search simple-input" action="{% url_for 'dataset.search' %}" method="get">
              <div class="search-input form-group ">
                <input aria-label="{% block header_site_search_label %}{{ _('Search datasets') }}{% endblock %}"
                  id="field-main-search" type="text" class="form-control" name="q" value="" autocomplete="off"
                  placeholder="{% block search_placeholder %}{{ _('Search datasets') }}{% endblock %}" />
                <button type="submit">
                  <i class="fa fa-search"></i> {{ _('Search') }}
                </button>
              </div>
            </form>
          </div>
          <div class="popular-tag">
            <p>Popular Tags: &nbsp;
              {% for tag in tags %}
              <a class="tag" href="{% url_for 'dataset.search', tags=tag.name %}">{{
                h.truncate(tag.display_name, 22) }}</a> &nbsp;
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>