<div role="main" class="hero">
  <div class="container">
    <div class="overlay">
    </div>
    <div class="row row1">
      <div class="col-md-6">
        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>
      <div class="col-md-6">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
        <br/>
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div role="main">
  <div class="container">
    <div class="row row1">
      {% block featured_group %}
        {% for group in h.featured_group() %}
          {% set type = group.type or 'group' %}
          {% set url = h.url_for(type ~ '_read', action = 'read', id = group.name) %}
          <a href="{{ url }}" title="{{ _('View {name}').format(name=group.display_name) }}"/>
          <div class="col-xs-2 col-md-2">
            <p>
              <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}" class="media-image img-responsive">
            </p>
            <h3>{{group.title or group.display_name}}</h3>
            <p>{{ h.markdown_extract(group.description)|urlize }}</p>
          </div>
        </a>
        {% endfor%}
      {% endblock %}
    </div>
  </div>
</div>